.App{
  width: 80%;
  min-height: 70vh;
  background-color: aqua;
  margin-left: 3px;
  display: flex;
}
.info{
  width: 30%;
  min-height: 500px;
  background-color: cadetblue;
  margin:0px;
  padding: 15px;
}
.form{
  width: 70%;
  height: 300px;
  background-color:mediumturquoise;
  margin-right:50px;
  padding: 15px;
}
